# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

Sound Originals/
Source backups/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Perpetual.v12.suo
Perpetual.sln
Perpetual.tws
Perpetual.vcxproj
Perpetual.vcxproj.filters
Perpetual.vcxproj.user
Perpetual.sdf
Debug/Perpetual.tlog/Perpetual.lastbuildstate
Debug/Perpetual.log